<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>semana2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43CD98FF1C209D4100F15810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43CD99131C209D4200F15810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43CD991E1C209D4200F15810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
